@import "../../variable.scss";
.game-content {
    display: grid !important;
    grid-template-areas: "main right-aside";
    grid-template-columns: 1fr 664px;
    width: 100%;

    &__main {
        grid-area: main;
    }

    &__right {
        grid-area: right-aside;
    }
}

.main-game-content {
    padding: 80px 0px 120px 66px;

    &__row {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    &__header {
        margin: 0px 0px 48px;
    }

    &__title {
        font-size: $h2;
        line-height: 78px;
        margin: 0px 0px 8px;
    }

    &__subtitle {
        font-weight: $regular;
        font-size: $p;
    }

    &__card {
        flex: 1 1 auto;
        background: #efecf5;
        border-radius: 32px;
    }
}

.right-game-content {
    position: relative;
    padding: 80px 0px 0px 66px;

    &__row {
        display: grid;
        grid-template-areas:
            "score score"
            "time best-player"
            "list-player list-player";
        grid-template-columns: 192px 1fr;
        grid-template-rows: 273px 96px 1fr;
        gap: 64px;
        height: 100%;
        width: 100%;
    }

    &__score {
        display: flex;
        background: #efecf5;
        border-radius: 32px 0px 0px 32px;
        grid-area: score;
    }

    &__question {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-50;
        font-size: $p;
        font-weight: $regular;
    }

    &__user-score {
        flex: 0 1 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & #score {
            font-size: $h2;
            line-height: 70px;
        }
        & #all-answer {
            font-size: $p;
            color: $text-50;
            font-weight: $regular;
        }
    }

    &__time {
        background: #efecf5;
        border-radius: 32px;
        grid-area: time;
    }

    &__best-player {
        background: #fdd9a2;
        box-shadow: 0px 8px 64px rgba(255, 77, 0, 0.25);
        border-radius: 32px 0px 0px 32px;
        grid-area: best-player;
    }

    &__list-players {
        background: #efecf5;
        border-radius: 32px 0px 0px 0px;
        grid-area: list-player;
    }
}

.card-main-game {
    display: flex;
    flex-direction: column;
    padding: 18px 16px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }

    &__question {
        text-align: center;
        max-width: 1500px;
        font-size: $h4;
        line-height: 44px;
        margin-bottom: 24px;
    }

    &__result {
        opacity: 0;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        transition: all 300ms ease;
        margin-bottom: 24px;
        &.wrong {
            opacity: 1;
            background: $asnwer-wrong;
        }
        &.correct {
            opacity: 1;
            background: $asnwer-done;
        }
    }

    &__answer {
        font-size: $p;
        color: $text-50;
        line-height: 25px;
        font-weight: $regular;
    }

    &__bottom-bar {
        height: 82px;
        width: 100%;
    }

    &__input {
        display: flex;
        align-items: center;
        height: 82px;
        width: 100%;
        background: #fff;
        border-radius: 24px;
        padding: 8px 8px 8px 64px;
    }
    &__input {
        color: $text-main;
        font-size: $h5;
        flex: 1 1 auto;
    }
    &__btn {
        cursor: pointer;
        background: $asnwer-done !important;
        font-size: $p;
        color: $text-main !important;
    }
}
