.header {
    height: 80px;
    position: relative;
    background-color: #5d39ed;

    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        color: #fff;
        font-size: 24px;

        & * {
            color: #fff;
            font-size: 24px;
        }
    }
}
