@import url('./null.css');

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}
