$brand: #5d39ed;
$brand-light: #7857ff;
$main: #a390cd;
$main-light: #dcccff;
$light-brown: #dcab9d;
$light-green: #96dfc9;
$light-yellow: #fdd9a2;
$light-blue: #99def3;
$light-pink: #efa6e8;

$asnwer-done: #16dba1;
$asnwer-hover: #33ffc2;
$asnwer-wrong: #e64952;
$answer-bg: #efecf5;
$main-bg: #02040d;

$text-main: #02040d;
$text-white: #ffffff;
$text-purple: #e1d9f2;
$text-90: #1b1d25;
$text-75: #41434a;
$text-50: #808186;
$text-25: #c0c0c2;
$text-10: #e5e5e6;

$manrope: Manrope;

$h1: 75px;
$h2: 57px;
$h3: 43px;
$h4: 32px;
$h5: 24px;
$h6: 18px;
$p: 18px;

$bold: 700;
$regular: 400;
